body {
    background-color: cornsilk;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration-line: none;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    color: whitesmoke;
}
.pageheader {
    position: fixed;
    border-radius: 20px;
    display: flex;
    width: 95%;
    top: 0;
    background-color:indianred;
    padding: 20px 20px 5px 20px;
    justify-content: space-between;
    align-items: center;
}



.white-writing {
    color: whitesmoke;
}
.box1 {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 1px #ccc solid;
    border-radius: 20px;
    padding: 18px 10px 50px 10px;
    margin: 10px 10px 10px 10px;
    flex-basis: 50%;
}

.box2 {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border: 1px #ccc solid;
    border-radius: 20px;
    padding: 18px 10px 50px 10px;
    margin: 10px 10px 10px 10px;
    flex-basis: 95%;
}
.container1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 130px;

}

.EDA-logo {
    border-radius: 15px;
    max-width: 50px;
    max-height: 50px;
    flex: 1;
}

.article-box {
    border: 1px gray solid;
    border-radius: 15px;
    background-color: whitesmoke;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;

}

.article-box:hover {
    border: 2px black solid;
    border-radius: 15px;
    background-color: rgb(255, 198, 198)

}

.article-nav-header {
    color:indianred;
    display: flex;
    justify-content: left;
}
.section-header {
    display: flex;
}

.section-icon {
    max-width: 50px;
    max-height: 50px;
}

@media(max-width:400px) {
    .container1 {
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }
}

.paragraph-text {
    padding: 10px 10px 2px 10px;
    flex: 2;
}

.paragraph-header {
    padding: 10px 10px 5px 10px;
}

.paragraph-image-small {
    flex: 1;
    max-width: 150px;
    max-height: 150px;
    border-radius: 15px;
}

.article-image-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-evenly;
}

.article-image {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    flex: 1;
    max-width: 300px;
    max-height: 300px;
}

.article-container {
    margin-top: 150px;
    width: 97.5%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 1px #ccc solid;
    border-radius: 20px;
    padding: 18px 10px 50px 10px;
}

.article-paragraph {
    padding: 5px 5px 5px 5px;
}

.article-inset {
    padding: 5px 5px 5px 5px;
    border: 1px #ccc solid;
    border-radius: 15px;
    max-height: 200px;
    padding: 30px 30px 30px 30px;
    max-width: 500px;
    background-color: bisque;
    margin: 10px 10px 10px 10px;
}